{%- capture productTabs -%}
<div section-name="product-giveaways" class="md:mb-4 mb-8 rounded-md shadow-[#ebebeb4f_0px_1px_10px_8px] overflow-hidden">
  <div class="flex p-4">
    {{ block.Image | image_url: width: 200 | image_tag: width: nil, loading: 'lazy', class: "max-w-1/3 h-auto" }}
    <div class="ml-4">
      <p class="text-base font-extrabold mb-0">{{ block.title }}</p>
      <p class="md:text-sm text-[.925rem] line-through mb-0 text-black-600">{{ block.price | money }}</p>
      <div class="bg-vi rounded-full px-2 text-white text-xs inline-block mt-3">{{ block.tag }}</div>
    </div>
  </div>
</div>
{%- endcapture -%}
{{ productTabs | strip_newlines | remove: "  " | remove: "	" }}