{%- capture productTabs -%}
<div section-name="product-giveaways" class="mb-4 rounded-md shadow overflow-hidden">
  <div class="flex p-4">
    {{ block.Image | img_url: '105x' | img_tag }}
    <div class="ml-4">
      <p class="text-base font-extrabold mb-0">{{ block.title }}</p>
      <p class="text-sm line-through mb-0">{{ block.price | money }}</p>
      <div class="bg-vi rounded-full px-2 text-white text-xs inline-block mt-3">{{ block.tag }}</div>
    </div>
  </div>
</div>
{%- endcapture -%}
{{ productTabs | strip_newlines | remove: "  " | remove: "	" }}