{%- capture productTabs -%}
<div section-name="product-column-img" class="mt-8 rounded-md overflow-hidden border-solid border border-black-300">
  <div class="md:py-6 md:px-12 py-4 px-4">
    <ul class="flex text-sm justify-between">
    {% assign pClass = 'text-center' %}
      <li class="{{pClass}}"> 
        {{ block.icon1 | image_url: width :"100px" | image_tag: width:nil, class: "p-2 rounded-full border-solid border border-black-300" }}
        <p>{{ block.text1 }}</p>
      </li>
      <li class="{{pClass}}">
        {{ block.icon2 | image_url: width :"100px" | image_tag: width:nil, class: "p-2 rounded-full border-solid border border-black-300" }}
        <p>{{ block.text2 }}</p>
      </li>
      <li class="{{pClass}}">
        {{ block.icon3 | image_url: width :"100px" | image_tag: width:nil, class: "p-2 rounded-full border-solid border border-black-300" }}
        <p>{{ block.text3 }}</p>
      </li>
    </ul>
  </div>
</div>
{%- endcapture -%}
{{ productTabs | strip_newlines | remove: "  " | remove: "	" }}