{% capture colorSwatches %}
{%- liquid
	assign optg = optindex | plus: 1
	assign downcased_option = swatch.name | downcase
	assign is_color = false
	assign is_size = false

	assign colorOptions = settings.colorOpt | downcase | replace:", ","," | replace:" , ","," | replace:" ,","," | split: ","
	if colorOptions contains downcased_option
		assign is_color = true 
	endif

	assign sizeOptions = settings.sizeOpt | downcase | replace:", ","," | replace:" , ","," | replace:" ,","," | split: ","
	if sizeOptions contains downcased_option
		assign is_size = true 
	endif
-%}

<div class="swatch pvOpt{{optindex}} fl f-wrap option{{optg}} !mb-4 w_100" data-option-index="{{ optindex }}">
	<label class="header w_100 fl text-lg !normal-case !font-semibold text-black-500">
        {{ swatch.name }}- <span class="slVariant ml5">{{swatch.selected_value}}</span>
        {%- if sizechart -%}
            <a href="#sizechart" class="mfp sizelink ml_auto" data-effect="mfp-zoom-in"><i class="at at-ruler"></i> {{ 'products.product.size_chart' | t}}</a>
        {%- endif -%}
    </label>
	{% assign values = '' %}
	{% for variant in product.variants %}
		{% assign value = variant.options[optindex] %}
		{% unless values contains value %}
			{% assign values = values | join: ',' %}
			{% assign values = values | append: ',' | append: value %} 
			{% assign values = values | split: ',' %}
			{% assign colorname = value | handleize %}
			<div data-value="{{ value | escape }}" class="swatch-element">
			<input class="swatchInput dn single-option-selector-{{secId}}{% if is_color %} colorsw{% endif %}" id="{{product.id}}-{{ optg }}-{{ value | handle }}" data-index="option{{optg}}" data-var="{{ value | handle }}" type="radio" name="{{ swatch.name | handle }}" value="{{ value | escape }}"{% if swatch.selected_value == value %} checked{% endif %} />
			{% if is_color %}
                {% if settings.sw_type == "color" %}
                    <label class="!w-7 !h-7 swatchLbl color md:!shadow-[inset_0px_0px_0px_3.5px_white] !shadow-[inset_0px_0px_0px_5px_white] {{settings.sw_size}} swt{{value | handle}}" for="{{product.id}}-{{ optg }}-{{ value | handle }}"
						style="background-color:{{ value | handle }};"></label>
                {% else %}
                    <label class="!w-7 !h-7 swatchLbl color md:!shadow-[inset_0px_0px_0px_3.5px_white] !shadow-[inset_0px_0px_0px_5px_white] {{settings.sw_size}} lazyload" for="{{product.id}}-{{ optg }}-{{ value | handle }}" data-bgset="{{ variant.image.src | product_img_url: '100x'}}" data-sizes="auto" data-parent-fit="contain"></label>
                {% endif %}
                <span class="tooltip-label top">{{ value }}</span>
			{% else %}
			    <label class="swatchLbl {% if is_size %}w-16 {% endif %}md:!h-7 md:!py-0 !py-1 !h-auto md:!text-base !text-sm" for="{{product.id}}-{{ optg }}-{{ value | handle }}">{{ value }}</label>            	
			{% endif %}
			</div>
		{% endunless %}
	{% endfor %}
</div>

{% endcapture %}
{{colorSwatches | strip_newlines | remove: "  " | remove: "	" }}