{%- assign secSt = section.settings -%}

<section section-name="image-text" class="{% render 'section-interva-set' , secSt:secSt %}" >
  <div class="page-width px-4">

    <div class="rounded-section flex overflow-hidden" style="background-color:{{secSt.bg_color}};">
      <div class="w-3/5" >
        {{ secSt.bg_img | image_url: width: 800 | image_tag: width: nil, loading: 'lazy' }}
      </div>
      <div class="w-2/5 flex flex-col justify-center mb-8 text-white md:pl-6">
        <h1 class="text-4xl">{{ secSt.text_main  }}</h1>
        <p class="text-xl mb-8">{{ secSt.text_sub  }}</p>
        <div>
          <a href="{{ secSt.url }}" class="btn btn-contrast text-base py-1 px-5">{{ secSt.text_btn  }}</a>
        </div>
      </div>
    </div>

  </div>
</section>  


{% schema %}
  {
    "name": "Image text v2",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Default set"
      },
 		  {
        "type": "color",
        "id": "bg_color",
        "label": "Background color"
      },
 		  {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Left image"
      },
 		  {
        "type": "text",
        "id": "text_main",
        "label": "Title",
        "default":"Find Dealers Near You"
      },
 		  {
        "type": "text",
        "id": "text_sub",
        "label": "Sub title",
        "default":"Test Ride & Buy Directly"
      },
 		  {
        "type": "text",
        "id": "text_btn",
        "label": "Button text",
        "default":"Read More"
      },
 		  {
        "type": "url",
        "id": "url",
        "label": "Button link"
      }
    ],
    "presets": [
        {
          "name": "Image text v2",
          "category": "Heybike v2"
        }
      ]
  }
{% endschema %} 