{%- assign secSt = section.settings -%}

<section section-name="logo-slider" class="{% render 'section-interva-set' , secSt:secSt %}" >

  <div class="page-width px-4">
    <div class="md:rounded-section rounded-3xl bg-no-repeat md:py-20 py-10" style="background-image: url({{ secSt.bg_img | image_url:master}});">
      <div class="md:w-3/5 md:px-0 px-2 mx-auto">
        <div id="carousel-main-{{section.id}}" 
          data-flickity='{"pageDots": false, "fade": true,"prevNextButtons": false, "wrapAround": true }'>
          {% for block in section.blocks %}
          <div class="mb-20 text-center text-white">
            <p class="mb-8 md:text-3xl text-2xl font-bold">{{block.settings.text_main}}</p>
            <p class="text-lg">{{block.settings.text_sub}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div data-flickity='{"draggable": false, "asNavFor": "#carousel-main-{{section.id}}", "contain": true, "pageDots": false, "wrapAround": true,"prevNextButtons": false,"selectedAttraction": 0.01,"friction": 0.15}'>
        {% for block in section.blocks %}
        <div class="lg:w-1/5 md:w-1/4 w-1/2 cursor-pointer text-center">
          <img class="grayscale transition-all scale-90 max-h-9" src="{{ block.settings.logo_image | image_url: master }}">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> 


{% schema %}
  {
    "name": "Logo slider v2",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Default set"
      },
 		  {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      }
    ],
    "blocks":[
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "text",
            "id": "text_main",
            "label": "Main content",
            "default":"Grazie a una batteria facilmente estraibile, pneumatici più larghi e luce anteriore integrata."
          },
          {
            "type": "text",
            "id": "text_sub",
            "label":"Secondary content",
            "default":"- Largest moto-comtmunity in Italy"
          },
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo image"
          }
        ]
      }
    ],
    "presets": [
        {
          "name": "Logo slider v2",
          "category": "Heybike v2"
        }
      ]
  }
{% endschema %} 