{%- assign secSt = section.settings -%}

{% if secSt.enable_slider %} {% assign ebSlider = true %} {% else %} {% assign ebSlider = false %} {% endif %}

<section section-name="multiple-image-text" class="{% render 'section-interva-set', secSt:secSt %}" >
  <div class="page-width px-4">
    <h1 class="md:text-4_5xl text-3xl text-center md:mb-12 mb-8">{{secSt.title}}</h1>

    <div {% if ebSlider %}data-flickity='{"pageDots": false, "draggable": false, "imagesLoaded": true,"wrapAround":true }' {% else %} class="md:flex"{% endif %} >
      {% for block in section.blocks %}
      {%- assign blkSt = block.settings -%}
      
      {% if blkSt.bg_img != blank or blkSt.video_url != blank %}

      {% if secSt.layout == 'textImg' %}{% assign textImg = true %} {% else %} {% assign textImg = false %} {% endif %}
      {% if forloop.length < 3 %} {% assign rounded = 'md:rounded-section' %} {% else %} {% assign rounded = '' %} {% endif %}

      <div class="md:{{blkSt.slide_w}} {% unless ebSlider %}md:mx-3 last:mr-0 first:ml-0 {% endunless %}
       {% if textImg or ebSlider %}flex{% endif %} w-full flex-col md:m-0 mb-8 relative">  
        <div class="{{rounded}} rounded-3xl overflow-hidden {% if textImg or ebSlider %}h-full{% endif %} {% if ebSlider %}mx-2{% endif %} {% unless textImg %}md:mb-6 mb-2{% endunless %}"
          style="background-color:{{blkSt.bg_color}};">

        {% case block.type %} 
          {% when "image" %}
            {% assign imgClass = 'h-full object-cover block w-full h-auto' %}
            {% if blkSt.img_link != blank %} 
            {% assign imgClass = 'h-full object-cover block w-full enlarge h-auto' %}
            <a href="{{ blkSt.img_link }}" > 
            {% endif %}
              <section class="md:block hidden">{{ blkSt.bg_img | image_url: height: 650 | image_tag: class: imgClass, lazyload: true }}</section>
              {% if blkSt.bg_img_mb != blank %}
              <section class="md:hidden block "> {{ blkSt.bg_img_mb | image_url: height: 650 | image_tag: class: imgClass, lazyload: true }} </section>
              {% endif %}
            {% if blkSt.img_link != blank %} </a> {% endif %}
          {% else %}
            <div class="video-wrapper"><iframe src="//www.youtube.com/embed/{{ blkSt.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe></div>
        {% endcase %}

        </div>
        {% if blkSt.text_main != blank %}


          <section class="{% if textImg %}absolute bottom-6 left-6 text-white w-4/5{% endif %} ">
            {% if blkSt.img_link != blank %} <a href="{{ blkSt.img_link }}" > {% endif %}
              <h1 class="{% if textImg %}md:text-xl text-lg mb-1 {% else %} md:text-3xl text-xl mb-2{% endif %}">{{ blkSt.text_main }}</h1>
              <p class="{% if textImg %}text-base{% else %}md:text-lg{% endif %} break-words">{{ blkSt.text_sub }}</p>
            {% if blkSt.img_link != blank %} </a> {% endif %}
          </section>
        {% endif %}

      </div>
      {% endif %}

      {% endfor %}
    </div>

    {% if secSt.bottom_line %}
      <hr class="h-px my-8 bg-gray-200 border-0">
    {% endif %}
  </div>


</section>  


{% schema %}
  {
    "name": "Multiple image text v2",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Section interval set"
      },
      {
        "type": "select",
        "id": "top_padding",
        "label": "top interval",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "select",
        "id": "bottom_padding",
        "label": "bottom interval",
        "default": "default",
        "options": [
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Default set"
      },
      {
        "type":"text",
        "label": "Section title",
        "id":"title",
        "default":"The World of HEYBIKE"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout style",
        "default": "textImg",
        "options": [
          {
            "value": "textImg",
            "label": "Text on the picture"
          },
          {
            "value": "imgText",
            "label": "Text is below the picture"
          }
        ]
      },
 		  {
        "type": "checkbox",
        "id": "enable_slider",
        "label": "Enable slider",
        "default": false
      },
 		  {
        "type": "checkbox",
        "id": "bottom_line",
        "label": "Enable bottom line",
        "default": false
      }
    ],
    "blocks": [
      {
        "name": "Image slide",
        "type": "image",
        "settings": [
          {
            "type": "select",
            "id": "slide_w",
            "label": "Slide width",
            "options": [
              {
                "value": "w-1/3",
                "label": "1/3"
              },
              {
                "value": "w-2/3",
                "label": "2/3"
              },
              {
                "value": "w-full",
                "label": "full"
              }
            ]
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
          },
          {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Slide image"
          },
          {
            "type": "image_picker",
            "id": "bg_img_mb",
            "label": "Slide image (mobile)"
          },
          {
            "type": "text",
            "id": "text_main",
            "label": "Title",
            "default": "Find Dealers Near You"
          },
          {
            "type": "text",
            "id": "text_sub",
            "label": "Sub title",
            "default": "Test Ride & Buy Directly"
          },
          {
            "type": "url",
            "id": "img_link",
            "label": "Link"
          }
        ]
      },
      {
        "name": "Video slide",
        "type": "video",
        "settings": [
          {
            "type": "select",
            "id": "slide_w",
            "label": "Slide width",
            "options": [
              {
                "value": "w-1/3",
                "label": "1/3"
              },
              {
                "value": "w-2/3",
                "label": "2/3"
              },
              {
                "value": "w-full",
                "label": "full"
              }
            ]
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
          },
          {
          "type": "video_url",
          "id": "video_url",
          "label": "Video link",
          "accept": ["youtube"]
          },
          {
            "type": "text",
            "id": "text_main",
            "label": "Title",
            "default": "Find Dealers Near You"
          },
          {
            "type": "text",
            "id": "text_sub",
            "label": "Sub title",
            "default": "Test Ride & Buy Directly"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multiple image text v2",
        "category": "Heybike v2"
      }
    ]
  }
{% endschema %} 